*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cajaContainer{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: center;
}
.caja{
    height: 40vh;
    width: 40vw;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

.caja1{
    background-color: rgb(255, 8, 8);
  
}

/* .cajaContainer{
    display: flex;
    overflow: hidden;
    padding-top: 3rem;
    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


.caja img{
    width: 100vw;
    height: 100vh;
}


@keyframes cambio {
    0%{
      margin-left: 0;
    }
    20%{
      margin-left: 0;
    }
  
    25%{
      margin-left: -100%;
    }
    45%{
      margin-left: -100%;
    }
  
    50%{
      margin-left: -200%;
    }
    70%{
      margin-left: -200%;
    }
  
    75%{
      margin-left: -300%;
    }
    100%{
      margin-left: -300%;
    }
  } */